<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user_info',user: @book_data.user %>
      <%= render'books/new',book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book_data.user.id) do %>
                <%= attachment_image_tag @book_data.user,:profile_image,format: 'jpeg',fallback: "no_image.jpg",size:'40x40' %><br>
                <%= @book_data.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book_data.id) do %>
                <%= @book_data.title %>
              <% end %>
            </td>
            <td><%= @book_data.body %></td>
              <% if @book_data.user == current_user %>
                <td><%= link_to 'Edit',edit_book_path ,class:"btn btn-success btn-sm" %></td>
                <td><%= link_to 'Destroy',book_path(@book_data.id),method: :delete,class:"btn btn-danger btn-sm","data-confirm"=>"本当に消しますか？" %></td>
              <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>